<div>
    <h2>Historial</h2>
    <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Debe</th>
            <th>Haber</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactions">
            <td>{{item.createdAt | date}}</td>
            <td>{{item.description}}</td>
            <td>{{item.category.name}}</td>
            <td>{{item.debit}}</td>
            <td>{{item.credit}}</td>
          </tr>
         
      </table>
</div>
