<div class="bg-backg min-h-screen w-full">
  <div *ngIf="showEmail"
    class="w-full fixed top-0 h-16 flex justify-center items-center bg-primary rounded text-text font-medium text-center text-lg p-6">
    <p> Revisa tu casilla de correos, recibirás un link que te redirigirá a la app.</p>
  </div>
  <div class="flex min-h-screen w-full justify-center items-center">

    <div class="bg-gris text-text w-[400px] max-w-[90%] p-8 rounded-xl row flex-center flex shadow-[0_2px_20px_-15px_rgba(0,0,0,0.3)] shadow-accent">
      <div class="col-6 form-widget w-full" aria-live="polite">
        <h1 class="text-3xl text-accent mb-2">Iniciar Sesión</h1>
        <p *ngIf="showEmail" class="text-sm mb-7 text-opacity-70 text-accent">Revise su casilla de correos</p>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="w-full">
          <div class="mb-6">
            <label class=" mb-2" for="email">Email</label>
            <input [ngClass]="signInForm.get('email')?.invalid ? 'ng-valid' : 'ng-invalid' " id="email"
              formControlName="email" class=" bg-backg px-1 py-2 rounded w-full" type="email"
              placeholder="prueba@prueba.com" />
          </div>
          <div>
            <button type="submit" class="button w-full px-3 py-1 bg-primary hover:bg-accent rounded-md"
              [disabled]="loading">
              {{ loading ? 'Enviando...' : 'Login' }}
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>