<div class="grid grid-cols-1 sm:grid-cols-2 p-4 sm:pt-10 md:pt-20 sm:px-14 md:pr-20 gap-8 sm:gap-10">
  <!-- NUEVO GASTO -->
  <div
    class="grid grid-cols-1 bg-gris p-2 rounded-md mb-2 hover:bg-opacity-75 hover:cursor-pointer ease-in-out duration-200">
    <h2 class="text-lg text-start font-semibold text-accent mb-2">Nuevo Gasto</h2>
    <form class="grid grid-cols-1 " [formGroup]="expensesForm" (ngSubmit)="submitExpenseForm()">

      <div class="mb-2">
        <label class="text-text mb-1" for="monto">Monto</label>
        <input class="bg-backg rounded-sm p-1 w-full text-text text-opacity-50 " type="number" id="monto"
          formControlName="monto" min="0" placeholder="$1000" />
      </div>
      <div class="mb-2">
        <label class="text-text mb-1" for="detalle">Detalle</label>
        <input class="bg-backg rounded-sm p-1 w-full text-text text-opacity-50 " type="text" id="detalle"
          formControlName="detalle" placeholder="Pastas en despensa de la esquina" />
      </div>
      <div class="mb-2">
        <label class="text-text mb-1" for="categoria">Categoría</label>
        <select class="bg-backg rounded-sm p-1 w-full text-text text-opacity-50 " id="categoria"
          formControlName="categoria">
          <option [value]="null">Seleccione</option>
          <ng-container *ngFor="let category of expensesCategories">
            <option [value]="category.id">{{category.category_name | uppercase}}</option>
          </ng-container>
        </select>
      </div>
      <div class="mb-2">
        <label class="text-text font-medium mb-1" for="fecha">Fecha <span class="text-xs font-thin
          opacity-40">mm/dd/aaaa</span></label>
        <input class="bg-backg rounded-sm p-1 w-full text-text text-opacity-50" type="date" id="fecha"
          formControlName="fecha" />

      </div>
      <div class="my-2">
        <input [ngClass]="{ 'opacity-60': !expensesForm.valid, 'opacity-100 hover:opacity-100': expensesForm.valid }" [disabled]="!expensesForm.valid" type="submit"
          class="bg-primary w-full text-text py-2 px-1 rounded-md  ease-in-out duration-200"
          value="Cargar" />
      </div>
    </form>


  </div>

  <!-- NUEVO INGRESO -->
  <div
    class="grid grid-cols-1 bg-gris p-2 rounded-md mb-2 hover:bg-opacity-75 hover:cursor-pointer ease-in-out duration-200">
    <h2 class="text-lg text-start font-semibold text-accent mb-2">
      Nuevo Ingreso
    </h2>

    <form class="grid grid-cols-1" [formGroup]="incomeForm" (ngSubmit)="submitIncomeForm()">

      <div class="mb-2">
        <label class="text-text mb-1" for="monto">Monto</label>
        <input class="bg-backg rounded-sm p-1 w-full text-text text-opacity-50" type="number" id="monto"
          formControlName="monto" min="0" placeholder="$100000" />
      </div>
      <div class="mb-2">
        <label class="text-text mb-1" for="detalle">Detalle</label>
        <input class="bg-backg rounded-sm p-1 w-full text-text text-opacity-50" type="text" id="detalle"
          formControlName="detalle" placeholder="Sueldo" />
      </div>
      <div class="mb-2">
        <label class="text-text mb-1" for="categoria">Categoría</label>
        <select class="bg-backg rounded-sm p-1 w-full text-text text-opacity-50" id="categoria"
          formControlName="categoria">
          <option [value]="null">Seleccione</option>
          <ng-container *ngFor="let category of incomeCategories">
            <option [value]="category.id">{{category.category_name | uppercase}}</option>
          </ng-container>
        </select>
      </div>
      <div class="mb-2">
        <label class="text-text font-medium mb-1" for="fecha">Fecha <span class="text-xs font-thin
           opacity-40">mm/dd/aaaa</span></label>
        <input class="bg-backg rounded-sm p-1 w-full text-text text-opacity-50" type="date" id="fecha"
          formControlName="fecha" />

      </div>
      <div class="my-2">
        <input [ngClass]="{'opacity-60': !incomeForm.valid, 'opacity-100 hover:opacity-100': incomeForm.valid }" [disabled]="!incomeForm.valid" type="submit"
          class="bg-primary w-full text-text py-2 px-1 rounded-md  ease-in-out duration-200" value="Cargar" />
      </div>
    </form>
  </div>
</div>
<!-- Alert -->

<app-alert-message-modal [message]="messageModal"  [classes]="classesModal" (close)="closeAlert()" *ngIf="showAlertModal">
</app-alert-message-modal>