<div>
    <h2>Nuevo registro</h2>
    <form action="">
        <label for="">Fecha</label>
        <input type="date">
        <hr>
        <label for="">Detalle</label>
        <input type="text">
        <hr>
        <label for="">Categoria</label>
        <select name="" id="">
            <option value="">Comida</option>
            <option value="">Otros Gastos</option>
            <option value="">Placeres</option>
            <option value="">Tarjeta Santander</option>
            <option value="">Tarjeta BBVA</option>
            <option value="">Obra Social/Prepaga</option>
            <option value="">Brubank</option>
            <option value="">Inversiones/Ahorros</option>
            <option value="">iCornio</option>
            <option value="">PIL</option>
            <option value="">Sueldo</option>
            <option value="">Otros Ingresos</option>
        </select>
        <hr>
        <label for="">Monto</label>
        <input type="number">
        <hr>
        <input type="submit" value="Cargar">
    </form>
</div>
