<div class="bg-backg text-text w-full p-4 sm:pt-10 md:pt-20 sm:px-14 md:pr-20">
  <!-- EDITAR PERFIL -->
  <app-update-profile>
  </app-update-profile>
  <!-- Presupuestos anteriores -->
  <app-old-budgets
  [title]="titleOldBudgets" 
  (currentMonth)="getCategoriesOldExpenses(currentYear, $event)"
  (currentYear)="getCategoriesOldExpenses($event, currentMonth)"
  ></app-old-budgets>
  <!-- MIS CATEGORIAS  -->
  <app-my-categories>
    
  </app-my-categories>
  <!-- CATEGORIAS PERSONALIZADAS -->
  <div class="mt-2">
    <h2 id="categorias_personalizadas" class="text-lg text-start font-semibold text-accent mb-2">
      Presupuesto de {{currentMonth | months }} {{currentYear}}
    </h2>   
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-3">
      <!-- GASTOS -->
      <div class="">
        <div class="mb-2 min-h-[50px]">
          <h3 class="text-base text-start font-semibold text-text">Gastos</h3>
          <p class="text-text font-light uppercase opacity-70 text-xs">
            Presupuesto total: {{ totalBudgetExpenses | ARS }}
          </p>
        </div>
        <!-- Nueva Categoría -->
        <div
          class="bg-accent bg-opacity-80 text-backg p-2 rounded-md mb-2 hover:bg-opacity-100 hover:cursor-pointer ease-in-out duration-200">
          <div (click)="showFormNewExpense = !showFormNewExpense">
            <h4
              class="text-sm text-start font-semibold text-backg uppercase hover:underline hover:underline-offset-4 ease-in-out duration-200">
              Presupuestar gastos
            </h4>
          </div>
          <div [ngClass]="{ hidden: !showFormNewExpense }">
           
            <form class="grid grid-cols-1 mt-2" [formGroup]="budgetExpensesForm" (ngSubmit)="createBudgetExpense()">
              <div class="mb-2">
                <label class="text-gris/90 font-medium mb-1 text-sm" for="newCategoryExpense">Categoría</label>
                <select class="bg-backg text-xs rounded-sm p-1 w-full text-text text-opacity-50 " id="newCategoryExpense"
                  formControlName="category_id">
                  <option [value]="null">Seleccione</option>
                  <ng-container *ngFor="let category of categoriesExpensesNonBudgeted">
                    <option [value]="category.id">{{category.category_name | uppercase}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="mb-2">
                <label class="text-gris/90 font-medium mb-1 text-sm" for="newMontoBudgetExpense">Monto</label>
                <input class="bg-backg text-xs rounded-sm p-1 w-full text-text text-opacity-50 " type="number" id="newMontoBudgetExpense"
                  formControlName="budget_expected" min="0" placeholder="Ej: $1000" />
              </div>
              <div class="my-2">
                <input [ngClass]="{ 'opacity-60': !budgetExpensesForm.valid, 'opacity-80 hover:opacity-100  border-2 border-primary font-medium': budgetExpensesForm.valid }" [disabled]="!budgetExpensesForm.valid" type="submit"
                  class="bg-text py-1 opacity-60 hover:opacity-100 border  px-2 rounded-md ease-in-out duration-200 text-backg w-full" 
                  value="Cargar" />
              </div>
            </form>

          </div>
        </div>
        <!-- Categorias Guardadas -->
        <ng-container *ngFor="let catExp of categoriesExpenses">
          <div class="bg-gris p-2 rounded-md mb-2 hover:bg-opacity-75  ease-in-out duration-200">
            <div (click)="catExp.showDetails = !catExp.showDetails" class="hover:cursor-pointer">
              <p class="text-text font-light opacity-80 text-xs uppercase mb-1" >{{
                currentMonth | months }}</p>
              <h4
                class="text-sm text-start font-semibold text-accent mb-1 uppercase hover:underline hover:underline-offset-4 ease-in-out duration-200">
                {{ catExp.category_name }}
                <span class="text-text font-light opacity-70 text-xs" *ngIf="catExp.budget_expected !== null">
                  ({{
                  catExp.budget_expected | ARS }})
                </span>
              </h4>
              <p [ngClass]="{ hidden: catExp.showDetails }" class="text-xs font-light opacity-70 text-start">
                {{ catExp.category_expense_description }}
              </p>
            </div>
            <div [ngClass]="{ hidden: !catExp.showDetails }">
              <div class="mb-2 grid grid-cols-4">
                <label class="text-sm col-span-2" >Monto presupuestado</label>
                <input class="text-sm col-span-2 bg-backg rounded-sm p-1 w-full text-text text-opacity-50 mb-2"
                  type="number"  [(ngModel)]="catExp.budget_expected" />
              </div>
              <div class="flex flex-row justify-between">
                <button
                  class="bg-gris text-accent border opacity-60 hover:opacity-100 text-sm py-1 px-3 rounded-md hover:bg-accent hover:shadow-md hover:text-backg"
                  (click)="
                  updateBudgetExpense(
                      catExp.budget_id,
                      catExp.budget_expected
                    )
                  ">
                  Actualizar
                </button>
                <button class="text-red py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200"
                  (click)="openModal()">
                  Borrar
                </button>
                <app-confirm-delete-category [message]="'¿Seguro desea eliminar la categoría?'"
                  (confirmed)="deleteCategory(catExp.budget_id, true)" (cancelled)="closeModal()" *ngIf="showModal">
                </app-confirm-delete-category>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- INGRESOS -->

      <div class="">
        <div class="mb-2 min-h-[50px]">
          <h3 class="text-base text-start font-semibold text-text">
            Ingresos
          </h3>
          <p class="text-text font-light uppercase opacity-70 text-xs">
            Presupuesto total: {{ totalBudgetIncomes | ARS }}
          </p>
        </div>
        <!-- Nueva Categoría -->
        <div
          class="bg-accent bg-opacity-80 text-backg p-2 rounded-md mb-2 hover:bg-opacity-100 hover:cursor-pointer ease-in-out duration-200">
          <div (click)="showFormNewIncome = !showFormNewIncome">
            <h4
              class="text-sm text-start font-semibold text-backg uppercase hover:underline hover:underline-offset-4 ease-in-out duration-200">
              Presupuestar ingresos
            </h4>
          </div>
          <div [ngClass]="{ hidden: !showFormNewIncome }">
           
              <form class="grid grid-cols-1 mt-2" [formGroup]="budgetIncomeForm" (ngSubmit)="createBudgetIncome()">
                <div class="mb-2">
                  <label class="text-gris/90 font-medium mb-1 text-sm" >Categoría</label>
                  <select class="bg-backg text-xs rounded-sm p-1 w-full text-text text-opacity-50 " 
                    formControlName="category_id">
                    <option [value]="null">Seleccione</option>
                    <ng-container *ngFor="let category of categoriesIncomesNonBudgeted">
                      <option [value]="category.id">{{category.category_name | uppercase}}</option>
                    </ng-container>
                  </select>
                </div>
                <div class="mb-2">
                  <label class="text-gris/90 font-medium mb-1 text-sm" >Monto</label>
                  <input class="bg-backg text-xs rounded-sm p-1 w-full text-text text-opacity-50 " type="number"
                    formControlName="budget_expected" min="0" placeholder="Ej: $1000" />
                </div>
                <div class="my-2">
                  <input [ngClass]="{ 'opacity-60': !budgetIncomeForm.valid, 'opacity-80 hover:opacity-100  border-2 border-primary font-medium': budgetIncomeForm.valid }" [disabled]="!budgetIncomeForm.valid" type="submit"
                    class="bg-text py-1 opacity-60 hover:opacity-100 border  px-2 rounded-md ease-in-out duration-200 text-backg w-full" 
                    value="Cargar" />
                </div>
              </form>
  
          </div>
        </div>
        <!-- Categorias Guardadas -->
        <ng-container *ngFor="let catInc of categoriesIncomes">
          <div class="bg-gris p-2 rounded-md mb-2 hover:bg-opacity-75  ease-in-out duration-200">
            <div (click)="catInc.showDetails = !catInc.showDetails" class="hover:cursor-pointer">
              <p class="text-text font-light opacity-80 text-xs uppercase mb-1" >{{
                currentMonth | months }}</p>
              <h4
                class="text-sm text-start font-semibold text-accent mb-1 uppercase hover:underline hover:underline-offset-4 ease-in-out duration-200">
                {{ catInc.category_name }}
                <span class="text-text opacity-70 font-light text-xs" *ngIf="catInc.budget_expected !== null">({{
                  catInc.budget_expected | ARS }})</span>
              </h4>
              <p [ngClass]="{ hidden: catInc.showDetails }" class="text-xs opacity-70 font-light text-start">
                {{ catInc.category_income_description }}
              </p>
            </div>
            <div [ngClass]="{ hidden: !catInc.showDetails }">
              <div class="mb-2 grid grid-cols-4">
                <label class="text-sm col-span-2" >Monto esperado</label>
                <input class="text-sm col-span-2 bg-backg rounded-sm p-1 w-full text-text text-opacity-50 mb-2"
                  type="number"  [(ngModel)]="catInc.budget_expected" />
              </div>
              <div class="flex flex-row justify-between">
                <button
                  class="bg-gris text-accent border opacity-60 hover:opacity-100 text-sm py-1 px-3 rounded-md hover:bg-accent hover:shadow-md hover:text-backg"
                  (click)="
                  updateBudgetIncome(
                    catInc.budget_id,
                    catInc.budget_expected
                    )
                  ">
                  Actualizar
                </button>
                <button class="text-red py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200"
                  (click)="openModal()">
                  Borrar
                </button>
                <app-confirm-delete-category [message]="'¿Seguro desea eliminar la categoría?'"
                  (confirmed)="deleteCategory(catInc.budget_id, false)" (cancelled)="closeModal()" *ngIf="showModal">
                </app-confirm-delete-category>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Alert -->
  <app-alert-message-modal [message]="messageModal" [classes]="classesModal" (close)="closeAlert()" *ngIf="showAlert">
  </app-alert-message-modal>
</div>