<div class="bg-backg text-text w-full p-4 sm:pt-10 md:pt-20 sm:px-14 md:pr-20">
  <!-- EDITAR PERFIL -->
  <!-- TODO -->
  <!-- <div class=" grid grid-cols-1 sm:grid-cols-2">
    <div class="bg-gris  p-2 rounded-md mb-2 hover:bg-opacity-75 hover:cursor-pointer ease-in-out duration-200">
      <h2 class="text-xl text-start font-semibold text-accent mb-2">
        Editar perfil
      </h2>
      <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" class="form-widget">

        <div class="mb-2">
          <label class="mb-1" for="username">Usuario</label>
          <input class="bg-backg  rounded-sm p-1 w-full text-text text-opacity-50 mb-2" value="{{profile?.username}}" formControlName="username"
            id="username" type="text" />
        </div>
        <div class="mb-2">
          <label class="mb-1" for="full_name">Nombre</label>
          <input class="bg-backg  rounded-sm p-1 w-full text-text text-opacity-50 mb-2" value="{{profile?.full_name}}" type="text"
            formControlName="full_name" id="full_name" />
        </div>
        <div class="mb-2">
          <label class="mb-1" for="website">Link de acceso rápido</label>
          <input class="bg-backg   rounded-sm p-1 w-full text-text text-opacity-50 mb-2" value="{{profile?.website}}" type="url" id="website"
            formControlName="website" />
        </div>
        <div class="flex flex-row justify-start">
          <button type="submit"
            class="bg-primary py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200"
            [disabled]="loading">
            {{ loading ? 'Loading ...' : 'Actualizar' }}
          </button>
        </div>
      </form>showDetailsconfirm
    </div>
  </div> -->
  <!-- CATEGORIAS PERSONALIZADAS -->
  <div>
    <h2 id="categorias_personalizadas" class="text-xl text-start font-semibold text-accent mb-2">
      Categorias personalizadas
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-3">
      <!-- GASTOS -->
      <div class="">
        <h3 class="text-lg text-start font-semibold text-text mb-2">Gastos</h3>
        <!-- Nueva Categoría -->
        <div
          class="bg-accent bg-opacity-80 text-backg p-2 rounded-md mb-2 hover:bg-opacity-100 hover:cursor-pointer ease-in-out duration-200">
          <div (click)="showFormNewExpense = !showFormNewExpense">
            <h4
              class="text-base text-start font-semibold text-backg uppercase hover:underline hover:underline-offset-4 ease-in-out duration-200">
              Nueva Categoria
            </h4>
          </div>
          <div [ngClass]="{ hidden: !showFormNewExpense }">
            <form class="grid grid-cols-1" [formGroup]="categoryExpensesForm" (ngSubmit)="createCategoryExpense()">
              <div>
                <div class="grid grid-cols-4">
                  <label class=" col-span-2 mb-1" for="category_name">Nombre Categoría</label>
                  <input class="bg-backg col-span-2  rounded-sm p-1 w-full text-text text-opacity-50 mb-2" type="text"
                    id="category_name" formControlName="category_name" placeholder="Alimentos" />
                </div>
                <div *ngIf="
                    categoryExpensesForm.get('category_name')?.invalid &&
                    categoryExpensesForm.get('category_name')?.touched
                  " class="text-red">
                  Error.
                </div>

              </div>
              <div>
                <div class="grid grid-cols-4">
                  <label class="mb-1 col-span-2" for="category_expense_description">Descripción</label>
                  <textarea class="bg-backg col-span-2 rounded-sm p-1 w-full text-text text-opacity-50 mb-2" name=""
                    cols="30" rows="3" id="category_expense_description" formControlName="category_expense_description"
                    placeholder="Solo lo comprado en supermercado"></textarea>
                </div>
                <div *ngIf="
                    categoryExpensesForm.get('category_expense_description')
                      ?.invalid
                  " class="text-red">
                  Error.
                </div>
              </div>

              <div>
                <div class="grid grid-cols-4">
                  <label class="mb-1 col-span-2" for="budget_amount">Monto asignado a gastar</label>
                  <input class="bg-backg col-span-2 rounded-sm p-1 w-full text-text text-opacity-50 mb-2" type="number"
                    id="budget_amount" formControlName="budget_amount" placeholder="$40000" />
                </div>
                <div *ngIf="categoryExpensesForm.get('budget_amount')?.invalid" class="text-red">
                  Error.
                </div>
              </div>
              <div>
                <div class="flex flex-row justify-start">
                  <button [ngClass]="{ 'opacity-60': !categoryExpensesForm.valid }" type="submit"
                    class="bg-text py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200 text-backg">
                    Crear categoría
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Categorias Guardadas -->
        <ng-container *ngFor="let catExp of categoriesExpenses">
          <div class="bg-gris p-2 rounded-md mb-2 hover:bg-opacity-75 hover:cursor-pointer ease-in-out duration-200">
            <div (click)="catExp.showDetails = !catExp.showDetails">
              <h4
                class="text-base text-start font-semibold text-accent mb-2 uppercase hover:underline hover:underline-offset-4 ease-in-out duration-200">
                {{ catExp.category_name }}
                <span class="text-text font-light opacity-70 text-sm" *ngIf="catExp.budget_expected !== null">({{
                  catExp.budget_expected | ARS }})</span>
              </h4>
              <p [ngClass]="{ hidden: catExp.showDetails }" class="text-sm text-start">
                {{ catExp.category_expense_description }}
              </p>
            </div>
            <div [ngClass]="{ hidden: !catExp.showDetails }">
              <div class="mb-2 grid grid-cols-4">
                <label class="col-span-2" for="">Nombre categoría</label>
                <input class=" col-span-2 bg-backg rounded-sm p-1 w-full text-text text-opacity-50" name="" type="text"
                  required [(ngModel)]="catExp.category_name" />
              </div>
              <div class="mb-2 grid grid-cols-4">
                <label class="col-span-2" for="">Descripción</label>
                <textarea class=" col-span-2 bg-backg rounded-sm p-1 w-full text-text text-opacity-50" name="" cols="30"
                  rows="3" [(ngModel)]="catExp.category_expense_description"></textarea>
              </div>
              <div class="mb-2 grid grid-cols-4">
                <label class="col-span-2" for="budget_amount">Monto presupuestado</label>
                <input class=" col-span-2 bg-backg rounded-sm p-1 w-full text-text text-opacity-50 mb-2" type="number"
                  id="budget_amount" [(ngModel)]="catExp.budget_expected" />
                <div *ngIf="categoryExpensesForm.get('budget_amount')?.invalid" class="text-red">
                  Error.
                </div>
              </div>
              <div class="flex flex-row justify-between">
                <button class="bg-primary py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200"
                  (click)="
                    updateCategoryExpense(
                      catExp.id,
                      catExp.category_name,
                      catExp.category_expense_description,
                      catExp.budget_expected,
                      catExp.budget_id
                    )
                  ">
                  Actualizar
                </button>
                <button class="text-red py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200"
                  (click)="openModal()">
                  Borrar
                </button>
                <app-confirm-delete-category [message]="'¿Seguro desea eliminar la categoría?'"
                  (confirmed)="deleteCategory(catExp.id, true)" (cancelled)="closeModal()" *ngIf="showModal">
                </app-confirm-delete-category>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- INGRESOS -->
      <div class="">
        <h3 class="text-lg text-start font-semibold text-text mb-2">
          Ingresos
        </h3>
        <!-- Nueva Categoría -->
        <div
          class="bg-accent bg-opacity-80 text-backg p-2 rounded-md mb-2 hover:bg-opacity-100 hover:cursor-pointer ease-in-out duration-200">
          <div (click)="showFormNewIncome = !showFormNewIncome">
            <h4
              class="text-base text-start font-semibold text-backg uppercase hover:underline hover:underline-offset-4 ease-in-out duration-200">
              Nueva Categoria
            </h4>
          </div>
          <div [ngClass]="{ hidden: !showFormNewIncome }">
            <form class="grid grid-cols-1" [formGroup]="categoryIncomeForm" (ngSubmit)="createCategoryIncome()">
              <div>
                <div class="grid grid-cols-4">
                  <label class="col-span-2" for="category_name">Nombre Categoría</label>
                  <input class="bg-backg rounded-sm col-span-2 p-1 w-full text-text text-opacity-50 mb-2" type="text"
                    id="category_name" formControlName="category_name" placeholder="Sueldo" />
                </div>
                <div *ngIf="
                  categoryIncomeForm.get('category_name')?.invalid &&
                  categoryIncomeForm.get('category_name')?.touched
                " class="text-red">
                  Error.
                </div>
              </div>
              <div>
                <div class="grid grid-cols-4">
                  <label class="col-span-2" for="category_income_description">Descripción</label>
                  <textarea class="bg-backg rounded-sm col-span-2 p-1 w-full text-text text-opacity-50 mb-2" name=""
                    cols="30" rows="3" id="category_income_description" formControlName="category_income_description"
                    placeholder="Solo lo comprado en supermercado"></textarea>
                </div>
                <div *ngIf="
                  categoryIncomeForm.get('category_income_description')?.invalid
                " class="text-red">
                  Error.
                </div>
              </div>
              <div class="flex flex-row justify-start">
                <button [ngClass]="{ 'opacity-60': !categoryExpensesForm.valid }" type="submit"
                  class="bg-text py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200 text-backg">
                  Crear categoría
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- Categorias Guardadas -->
        <ng-container *ngFor="let catInc of categoriesIncomes">
          <div class="bg-gris p-2 rounded-md mb-2 hover:bg-opacity-75 hover:cursor-pointer ease-in-out duration-200">
            <div (click)="catInc.showDetails = !catInc.showDetails">
              <h4
                class="text-base text-start font-semibold text-accent mb-2 uppercase hover:underline hover:underline-offset-4 ease-in-out duration-200">
                {{ catInc.category_name }}
              </h4>
              <p [ngClass]="{ hidden: catInc.showDetails }" class="text-sm text-start">
                {{ catInc.category_income_description }}
              </p>
            </div>
            <div [ngClass]="{ hidden: !catInc.showDetails }">
              <div class="mb-2 grid grid-cols-4">
                <label class="col-span-2" for="">Nombre categoría</label>
                <input class="bg-backg col-span-2 rounded-sm p-1 w-full text-text text-opacity-50" name="" type="text"
                  required [(ngModel)]="catInc.category_name" />
              </div>
              <div class="mb-2  grid grid-cols-4">
                <label class="col-span-2" for="">Descripción</label>
                <textarea class="bg-backg col-span-2 rounded-sm p-1 w-full text-text text-opacity-50" name="" cols="30"
                  rows="3" [(ngModel)]="catInc.category_income_description"></textarea>
              </div>
              <div class="flex flex-row justify-between">
                <button class="bg-primary py-1 px-1 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200"
                  (click)="
                    updateCategoryIncome(
                      catInc.id,
                      catInc.category_name,
                      catInc.category_income_description
                    )
                  ">
                  Actualizar
                </button>
                <button class="text-red py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200"
                  (click)="openModal()">
                  Borrar
                </button>
                <app-confirm-delete-category [message]="'¿Seguro desea eliminar la categoría?'" (confirmed)="deleteCategory(catInc.id, false)" (cancelled)="closeModal()"
                  *ngIf="showModal">
                </app-confirm-delete-category>
                

              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Alert -->
  <app-alert-message-modal [message]="messageModal"  [classes]="classesModal" (close)="closeAlert()" *ngIf="showAlert">
  </app-alert-message-modal>
</div>