<div class="text-text w-full h-screen p-4 sm:pt-10 md:pt-20 sm:px-14 md:pr-20">
  <h2 class="text-lg text-start font-semibold text-accent mb-2">Balance mensual</h2>

<!-- <div class="grid grid-cols-1 gap-1">
  <ng-container *ngFor="let tr of transactions"> -->
    <!-- CARD -->
    <!-- <div class=" bg-gris w-full p-1 rounded-md grid grid-cols-6 ">
      <div class="col-span-1 flex flex-col justify-center">
        <p class="text-xs text-center tracking-widest">JUL</p>
        <p class="text-2xl text-center leading-none ">21</p>
      </div>
      <div class="col-span-4 flex flex-col justify-between">
        <p class=" text-accent font-medium text-xs uppercase tracking-wider">{{ tr.transaction_category }}</p>
        <p class="text-xs leading-6">{{ tr.transaction_description }}</p>
      </div>
      <div class="col-span-1 flex items-center justify-end pr-1">
        <p [ngClass]="tr.transaction_type == CategoryType.Expense ? 'text-red' : 'text-accent'" class=" text-center  font-medium text-lg leading-none">{{ tr.amount }}</p>
      </div>
    </div>
  </ng-container>
</div> -->

<div class="grid grid-cols-2 sm:grid-cols-3 gap-1 sm:gap-3">
  <ng-container *ngFor="let budget of budgets">
    <!-- CARD -->
    <div class=" bg-gris w-full p-2 rounded-md grid grid-cols-1 ">
      <div class="col-span-1 flex flex-col justify-center gap-0 mb-3">
        <p class="text-xs text-start tracking-wider uppercase">{{budget.bugget_date | date:'MMM yyyy'}}</p>
        <p class=" text-accent font-medium text-sm uppercase tracking-wider">{{ budget.category_name }} <span class="text-text opacity-50 font-thin text-xs">({{budget.budget_expected | ARS}})</span></p>
      </div>
      <div class="col-span-1 flex flex-row justify-between">
        <p class="text-text opacity-50 font-thin text-xs leading-6">Gastado</p>
        <p [ngClass]="budget.class" class="text-center  font-medium text-base leading-none"> {{budget.budget_sum | ARS}} </p>
        <!-- <p [ngClass]="tr.transaction_type == CategoryType.Expense ? 'text-red' : 'text-accent'" class=" text-center  font-medium text-lg leading-none">{{ tr.amount }}</p> -->
      </div>
    </div>
  </ng-container>
</div>
<div class="my-3">
  <button class="bg-primary text-text py-1 px-3 rounded-md hover:bg-accent hover:shadow-md">
    Editar Presupuesto
  </button>
</div>
</div>