<div class="bg-backg min-h-screen w-full">
    <div *ngIf="showmessage"
      class="w-full fixed top-0 h-16 flex justify-center items-center bg-primary rounded text-text font-medium text-center text-lg p-6">
      <p>Revise su casilla de correos</p>
    </div>
    <div class="flex min-h-screen w-full justify-center items-center">
      <div class="bg-gris text-text w-[400px] max-w-[90%] p-8 rounded-xl flex-col flex-center flex shadow-[0_2px_20px_-15px_rgba(0,0,0,0.3)] shadow-accent">
        <h1 class="text-3xl text-accent mb-2">Recuperar password</h1>
          <form [formGroup]="requestForm" (ngSubmit)="requestNewPass()" class="w-full">
            <div class="mb-6">
              <label class=" mb-2" for="email">Email</label>
              <input [ngClass]="requestForm.get('email')?.invalid ? 'ng-valid' : 'ng-invalid' " id="email"
                formControlName="email" class=" bg-backg px-1 py-2 rounded w-full" type="email"
                placeholder="prueba@prueba.com" />
            </div>
            <div>
              <button type="submit" class="button w-full px-3 py-1 bg-primary hover:bg-accent rounded-md"
                [disabled]="loading">
                {{ loading ? 'Enviando...' : 'Recuperar password' }}
              </button>
            </div>
          </form>
          <a class="text-sm text-start hover:underline py-1 text-accent hover:text-text mt-2" routerLink="/login">Volver atrás</a>
      </div>
  
    </div>
  </div>
  <!-- Alert -->
<app-alert-message-modal [message]="messageModal"  [classes]="classesModal" (close)="closeAlert()" *ngIf="showAlertModal">
</app-alert-message-modal>