<div>
    <h1 class="text-4xl	 text-amber-400">tenemos la mejor app de finanzas del mundo</h1>
    <p>Va a ser una app integral tanto para cuidado de las finanzas 
    personales como de gestión de inversiones, podscast, blogs sobre economia, billetera virtual y compra/venta de cripto.</p>

    <h3 class="text-2xl	text-amber-400">Algunar caracteristicas claves de la competencia</h3>
    <ul>
        <li>Conecion a los bancos donde tengo cuenta, modo lectura para leer movimientos unicamente.</li>
        <li>encriptacion de la informacion y seguridad</li>
        <li>Blog</li>
        <li>Alertas de comisiones, dobles consumos, sobregiros etc</li>
        <li>al saber cuanto pagas en algunos servicios como (seguros, telefonia etc) las app buscan mejores ofertas y te las ofrecen</li>
    </ul>
</div>

<button class="p-4 bg-yellow-300	" [routerLink]="['/login']" routerLinkActive="router-link-active" >INGRESAR</button>
