<div class="grid grid-cols-1 md:grid-cols-6  ">
    <div class="bg-gris md:col-span-1 text-text md:min-h-screen">
        <nav class="">
            <div class="max-w-7xl">
                
                <div class="grid grid-cols-2 px-2 py-4 sm:px-0 sm:py-4  sm:grid-cols-1">
                    <!-- Logo o título del navbar -->
                    <div class="grid-span-1 flex justify-self-stretch sm:pl-4">
                        <a routerLink="/" class="w-full text-white font-bold text-lg">CashFlow App</a>
                    </div>
                    <!-- Menú principal Desktop -->
                    <div class="hidden sm:block sm:pt-6 sm:pb-0 sm:bg-gris w-full">
                        <ul class="grid grid-cols-1 gap-2">
                            <li class="hover:bg-text hover:opacity-50 hover:text-primary px-4 py-1"><a routerLink="perfil" [routerLinkActive]="['text-accent', 'font-semibold']" [routerLinkActiveOptions]="{exact: true}" class="block text-white hover:text-gray-300">Perfil</a></li>
                            <li class="hover:bg-text hover:opacity-50 hover:text-primary px-4 py-1"><a routerLink="balance" [routerLinkActive]="['text-accent', 'font-semibold']" [routerLinkActiveOptions]="{exact: true}" class="block text-white hover:text-gray-300">Balance</a></li>
                            <li class="hover:bg-text hover:opacity-50 hover:text-primary px-4 py-1"><a routerLink="movimientos" [routerLinkActive]="['text-accent', 'font-semibold']" [routerLinkActiveOptions]="{exact: true}" class="block text-white hover:text-gray-300">Movimientos</a></li>
                        </ul>
                    </div>
                    <!-- Botón de menú mobile -->
                    <div class="grid-span-1 flex justify-end align-middle sm:hidden ">
                        <button type="button"
                            class=" border-x border-y border-x-accent border-y-accent px-4 rounded-md text-accent"
                            aria-label="Toggle menu" (click)="toggleMenu()">
                            Menu
                        </button>
                    </div>
                </div>
            </div>
            <!-- Menú mobile desplegable -->
            <div class="sm:hidden" *ngIf="open">
                <ul class="bg-gris pb-5">
                    <li ><a routerLink="perfil" [routerLinkActive]="['text-accent', 'font-semibold']" [routerLinkActiveOptions]="{exact: true}" class=" px-4 py-2 block text-white ">Perfil</a></li>
                    <li ><a  routerLink="balance" [routerLinkActive]="['text-accent', 'font-semibold']" [routerLinkActiveOptions]="{exact: true}" class=" px-4 py-2 block text-white ">Balance</a></li>
                    <li ><a  routerLink="movimientos" [routerLinkActive]="['text-accent', 'font-semibold']" [routerLinkActiveOptions]="{exact: true}" class=" px-4 py-2 block text-white ">Movimientos</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="bg-backg md:col-span-5 min-h-screen">
        <router-outlet></router-outlet>
    </div>
</div>